spring:
  profiles:
    active: local  # 기본 프로파일은 local

  # 파일 업로드 크기 제한 설정
  servlet:
    multipart:
      max-file-size: 10MB      # 개별 파일 최대 크기
      max-request-size: 20MB   # 전체 요청 최대 크기

  # Redis 설정
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: ${REDIS_TIMEOUT}

  output:
    ansi:
      enabled: always

  # Jackson 설정
  jackson:
    serialization:
      indent-output: true
    time-zone: Asia/Seoul

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: never

# JWT 설정
jwt:
  secret: ${JWT_SECRET}
  access-token-validity: ${JWT_ACCESS_TOKEN_VALIDITY:86400000} # 24시간 (밀리초)

# Swagger 설정
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    docExpansion: none
  enable-kotlin: true

discord:
  webhook:
    url: ${DISCORD_WEBHOOK_URL}